/*  etiqueta{
    propiedad: valor ;
}    */

h1{
    color: grey;
    font-size: 50px;
}

/*Llamar a una etiqueta directo */
body{
    background-color: palegreen;
}

/*Llamar a una clase */
.titular{
    color: purple;
    font-size: 70px;
}

/*llamar a un ID */
#titular3{
    color: brown;
    font-size: 30px;
    border: 5px solid lightseagreen;
    border-radius: 10px;
}

/*****************/
.borde{
    border: 10px solid yellow;
}
.titular:hover{
    color:beige;
    background-color: yellowgreen
}



/****************************/
