header{
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 0;
    padding: 0;
    top: 0;
 }
li{
    display: inline;
    margin-left: 10px;
    margin-top: 40px;
}
li:last-child{
    margin-top: 0px;
}
.logo{
    width: 200px;
    height: 100px;
    margin-right: 0%;
}
