header{
    background-color: blue;
    border: 10px solid red;
}
.barra_menu{
    display: inline;
}
li{
    list-style-type: none;
    display: inline;
    margin:5px;
}
.titulo_principal{
    text-align: center;
    color: red;
}
